<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyPie</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'pypie/style.css' %}" />
</head>

<body>
    <div class="navbar">
        <a href="/pies" class="btn">Pie Derby</a>
        <a href="/logout" class="anchor">Logout</a>
    </div>
    <div class="container">
        <div class="left_side">
            <h1>PyPies By {{user.first_name.title}}</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
                {% for pie in pies %}
                {% if user == pie.user %}
                <tr>
                    <td>{{pie.name}}</td>
                    <td><a href="/edit/{{pie.id}}">edit</a> | <a href="/delete/{{pie.id}}">delete</a></td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        <div class="right_side">
            <h1>Add new PyPie</h1>
            <form action="/add_pie" method="POST">
                {% csrf_token %}
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                        {{message}}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
                <label for="pie_name">Name: <input type="text" name="pie_name" placeholder="Enter Pie Name"
                        class="textBoxes"></label><br>
                <label for="pie_filling">Filling: <input type="text" name="pie_filling" placeholder="Enter Pie Filling"
                        class="textBoxes"></label><br>
                <label for="pie_crust">Crust: <input type="text" name="pie_crust" placeholder="Enter Pie Crust"
                        class="textBoxes"></label><br>
                <button type="submit" class="btn">Add Pie</button>
            </form>
        </div>
    </div>
</body>

</html>